@model eimdbapi.Models.Movi

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Requester.Name</h2>
@foreach (var material in Model.MaterialsList)
{
    <tr>
        <td>@material.name</td>
    </tr>
}


